window {
    background: @surface;
    font-family: "Adwaita Sans";
    color: @on_surface;
}

scale trough {
    min-height: 4px;
    background: alpha(@on_surface, 0.14);
    border-radius: 999px;
}

scale highlight {
    background: @primary;
    border-radius: 999px;
}

scale slider {
    min-width: 12px;
    min-height: 12px;
    margin: -4px;
    border: none;
    box-shadow: none;
    background: @primary;
    border-radius: 999px;
}
